
.menu-list{
    position: relative;
}

.container{
    overflow: hidden;
}
.render-list {
  list-style-type: none;
  display: flex;
  // flex-direction: row;  flex-direction will be row by default for flex
  justify-content: space-evenly;

  .menu-list-render:last-child {
    background-color: #01aacd;
  }


  .menu-list-render li a {
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    // transition: 1s;
    text-decoration: none;
  }

  .menu-list-render:not(:last-child) li a:hover,
  .menu-list-render:not(:last-child) li a.active {
    background-color: #fff;
    color: black;
  }

  .menu-list-render:last-child:hover,
  .menu-list-render:last-child:focus {
    background-color: tomato;
  }

  
}

.menu-icon{
    display: none;
  }

  .menu-icon .fa-times{
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
  }

  .menu-icon .fa-bars{
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

@media (max-width: "800px") {
//   .render-list {
//     display: none;
//   }

.menu-icon{
    display: block;
  }



.render-list {
    flex-direction: column;
    align-items: center;
    width: 410px;
    height: 200px;

    // background-color: rgba(0,0,0,0.2);
    background-color: red;
    gap: 3px;
    position: absolute;
    top: 64px;
    right: 0px;
    color: white;
}

.render-list .closed{
    position: absolute;
    right: -380px;
    transition: all 0.8s ease-in-out;
    // transform: rotate(-230deg) translate(-11px,6px);
}

  .three-bars {
    // position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 51px;
    height: 51px;
    padding-top: 15px;
    // background-color: white;

  }

  .three-bars .bar {
    // position: absolute;
    // right: 10px;
    background-color: #fff;
    height: 2px;
    margin-top: 2px;
    width: 10px;
    border-radius: 3px;
  }
}
