@import "./common/common.scss";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}



// .container{
//     background-color: $primary-color !important;
// }


.movie-app-wrapper{
        background-color: $primary-color !important;
        // width: 100%;
        min-height: 100vh;
}

a{
    text-decoration: none;
}

// body::-webkit-scrollbar{
//     display: none;
// }

.container{
    // margin: 0px 20px;
}